/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
}

:root {
    --font: 'Work Sans', 'sans-serif';
}

html {
    font-family: var(--font);
    background-color: #000;
    color: #fff;
}

span {
    color: #ffffff9c;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.header img {
    width: 15rem;
    cursor: pointer;
    margin: 0 1rem;
}

.header img:hover {
    transition: .5s;
    transform: scale(1.05);
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-bar a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.nav-bar a:hover {
    color: #ffffffb6;
    transition: .5s;
    transform: scale(1.06);
}

/* SECTION - PRINCIPAL */
.principal {
    background-image: url(../img/violencia01.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4%;
}

.principal-texto {
    background-color: #0000006b;
    width: 45rem;
    margin-left: 1.2rem;
    line-height: 4rem;
}

.principal-texto h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.principal-texto p {
    font-size: 1.2rem;
    text-align: center;
}

/* SECTION - ENTENDA A VIOLÊNCIA */
.entenda-violencia {
    padding: 4rem 4%;
}

.entenda-violencia h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entenda-texto {
    width: 40rem;
}

.entenda-texto h2 {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.entenda-texto p {
    font-size: 1rem;
}

.entenda-img img {
    width: 60rem;
    height: 35rem;
}

/* O QUE FAZEMOS E PORQUÊ */
.oq-pq {
    padding: 8rem 4%;
    background-image: url(../img/violencia03.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.oq-pq h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 2rem;
    background-color: #00000071;
    width: 40rem;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

.oq-pq .flex {
    padding-top: 3rem;
    justify-content: space-between;
}

.conteudo {
    width: 40rem;
    background-color: #00000071;
}

.conteudo h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
}

/* SECTION - QUEM SOMOS */
.quem-somos {
    padding: 4rem 4%;
}

.quem-somos h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.quem-somos .flex {
    justify-content: space-around;
}

.quem-somos-texto {
    width: 40rem;
}

.quem-somos-texto h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}