/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
}

:root {
    --font: 'Work Sans', 'sans-serif';
}

html {
    font-family: var(--font);
    background-color: #000;
    color: #fff;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.header img {
    width: 15rem;
    cursor: pointer;
    margin: 0 1rem;
}

.header img:hover {
    transition: .5s;
    transform: scale(1.05);
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-bar a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.nav-bar a:hover {
    color: #ffffffb6;
    transition: .5s;
    transform: scale(1.06);
}

/* SECTION - PRINCIPAL */
.principal {
    background-image: url(../img/violencia01.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.principal-texto {
    background-color: #0000006b;
    width: 45rem;
    margin-left: 1.2rem;
    line-height: 4rem;
}

.principal-texto h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.principal-texto p {
    font-size: 1.2rem;
    text-align: center;
}