@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');


:root {
    --cor01: #000000;
    --cor02: #332E33;
    --cor03: #332E30;
    --cor04: #332f2e38;

    --font01: 'Oswald', sans-serif;
    --font02: 'Lato', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

html, body {
    min-height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow-y: hidden;
}

header {
    background-color: var(--cor04);
    padding: 3vh;
    color: white;
    font-family: var(--font01);
    font-size: 1.4em;
    font-weight: lighter;
}

header > h1 > a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: var(--cor04);
    text-decoration: none;
    font-family: var(--font01);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 0rem 3rem 0rem 3rem;
    box-shadow: 1px 1px 0px black;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 4.5rem;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    height: 90vh;
    background-image: linear-gradient(to right top, #332e304b, #08080865);
}

section#principal, section#redes-sociais {
    padding: 5rem;
    padding-top: 09rem;
    font-family: var(--font02);
    font-size: 1.5em;
    color: white;
    word-spacing: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section > div {
    padding: 5rem;
}

.nome-subtitulo {
    display: flex;
    text-align: justify;
}

img {
    width: 45.5rem;
}